*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: #98c3ef;
}

.menu{
    background-color: #73b0ed;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    align-items: center;
    display: flex;
    margin-left:300px;
}
.items li{
    border-radius: 4px;
    margin: 0 15px;
    list-style: none;
    align-items: center;
}
.escudo{
    margin: auto;
    width: px; 
    padding: 5px;
}
.titulo{
    display: flex;
    justify-content: center
}
footer{
    background-color: #73b0ed;
}
h2{
    font-weight: bold;
    font-style: italic;
}